name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4.7'
        # runs 'bundle install' and caches installed gems automatically
        bundler-cache: true

    - name: Run RuboCop (Lint)
      run: rake rubocop

    - name: Run RSpec (Tests)
      run: rake spec